<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Class</th>
      <th>Href</th>
      <th>Style</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.class %></td>
        <td><%= photo.href %></td>
        <td><%= photo.style %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<pre>
  <div id="photo"></div>
</pre>
<%= image_path '1.jpg' %>

<%#= link_to 'New Photo', new_photo_path %>
<%= javascript_pack_tag 'test' %>
<script>
  $("#myCar").vc3dEye({
      imagePath: "assets/1500",
      totalImages: 30,
      imageExtension: "png"
  });
</script>
