<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @photo.class %>
</p>

<p>
  <strong>Href:</strong>
  <%= @photo.href %>
</p>

<p>
  <strong>Style:</strong>
  <%= @photo.style %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
